section.about
  img.about__promo(src="images/dest/prorab.jpg")
  .container
    .row
      h2.about__title Как заказать песок ?
      p Все очень просто:
      .text
        ul
          li
            p Позвонить в нашу компанию и заказать карьерный песок различных модулей крупности.
            p Опытные менеджеры помогут Вам рассчитать объем и оптимизируют логистику.
          li
            p Пользователям приложения доступна полная информация об организациях и лицах, оказывающих услуги в сфере образования или развлечений.
