section.banner
  //- .banner__bg
  .container
    .row
      .text
        p Предлагаем купить песок карьерный с доставкой и самовывозом по цене от 140 рублей за 1м3 в Санкт-Петербурге. К продаже предлагаем: мелкозернистый, среднезернистый, крупнозернистый модули. Можно забрать песок с карьера или заказать поставку на автотранспорте до строительного объекта.
    img.banner__logo(src="images/dest/icons/Backhoe Vector.svg")
      //- .banner__nav
      //-   a(href="#")
      //-     img(src="images/dest/icons/AppStore.svg" alt="https://apps.apple.com/ru/app/%D0%BC%D0%BE%D1%8F-%D0%B8%D1%82%D0%B0%D0%BB%D0%B8%D1%8F/id1603819575")
      //-   a(href="#")
      //-     img(src="images/dest/icons/GooglePlay.svg" alt="https://play.google.com/store/apps/details?id=com.myitaly.myitaly&hl=ru&gl=RU")
      //- include anim
