section.benefits
  .container
    .row
      h2.benefits__title Преимущества проекта
      p.text Научиться играть на барабанах? Собрать любительскую футбольную команду? Записать ребенка на вокал? HobSQare поможет в этих и многих
      .benefits__items
        .benefits__item
          +icon('stats-w', 'benefits__ico')
          p.text Возможность выбора товара из огромного каталога в одном приложении
          img.benefits__item-img(src="images/dest/benefits-1.png" alt="#")
        .benefits__item
          +icon('grid-w', 'benefits__ico')
          p.text Простой и понятный дизайн разработанный специалистами
          img.benefits__item-img(src="images/dest/benefits-2.png" alt="#")
          img.benefits__item-img(src="images/dest/benefits-21.png" alt="#")
        .benefits__item
          +icon('bag-w', 'benefits__ico')
          p.text Полное отслеживание заказа от корзины до вашего дома
          img.benefits__item-img(src="images/dest/benefits-3.png" alt="#")
      
