section.goals
  .container
    .row
      .goals__items
        .goals__item
          +icon('date', 'goals__ico')
          .goals__text
            p Опыт работы
            span 7+ лет
        .goals__item
          +icon('clock', 'goals__ico')
          .goals__text
            p Доставка
            span В. Новгород +150км
        .goals__item
          +icon('stats', 'goals__ico')
          .goals__text
            p Стоимость
            span от 150р\м2
