section.interview
  .container
    .row
      h2.interview__title Интервью у Генерального Директора
      .interview__descr
        img.interview__ava(src="images/dest/team-5.png" alt="#")
        p.interview__name Генеральный Директор
        p.interview__post Flutter
    .row
      p.interview__q Что бы вы хотеле донести до будущих Клиентов?
      .text
        p.interview__a Несите бабки.. Много бабок Несите бабки.. Много бабок Несите бабки.. Много бабок Несите бабки.. Много бабок Несите бабки.. Много бабок
        p.interview__a А потом еще бабки бабки бабки А потом еще бабки бабки бабки А потом еще бабки бабки бабки А потом еще бабки бабки бабки А потом еще бабки бабки бабки
    .row
      p.interview__q Сколько бабок вам нести
      .text
        p.interview__a мыльард 2мыльарда 3мыльарда 4мыльарда 5мыльардов 6мыльардов 7мыльардов 8мыльардов 9мыльардов
        p.interview__a трильон 2трильона 3трильона 4трильона 5трильонов 6трильонов 7трильонов 9трильонов 9трильонов
