section.review
  .container
    .row
      h2.review__title Отзыв заказчика
      .text
        p.review__descr Удивительно!!! Я принес бабки и получил услугу. Удивительно!!! Я принес бабки и получил услугу. Удивительно!!! Я принес бабки и получил услугу. 
        p.review__descr Удивительно!!! Я принес бабки и получил услугу. Удивительно!!! Я принес бабки и получил услугу. Удивительно!!! Я принес бабки и получил услугу.
    .row
      img.review__img(src="images/dest/sps.jpg" alt="Благодарственнное письмо")
