section.screens
  .screens__mainpage.screens__item
    .container
      .row
        h2.mainpage__title.screens__title Главная
        p.text.screens__text После заполнения формы регистрации пользователь попадает в главное меню. В нем представлены все организации города. Их можно отфильтровать по виду деятельности, доступным датам для посещения и другим параметрам.
        picture.screens__img
          source(srcset="images/dest/mainpage-desk.png" media="(min-width: 1140px)")
          source(srcset="images/dest/mainpage-tablet.png" media="(min-width: 660px)")
          img.mainpage__img(src="images/dest/mainpage.png")
  .screens__product.screens__item
    .container
      .row
        h2.mainpage__title.screens__title Экран продукции
        p.text.screens__text После заполнения формы регистрации пользователь попадает в главное меню. В нем представлены все организации города. Их можно отфильтровать по виду деятельности, доступным датам для посещения и другим параметрам.
        picture.screens__img
          source(srcset="images/dest/product-desk.png" media="(min-width: 1140px)")
          source(srcset="images/dest/product-tablet.png" media="(min-width: 660px)")
          img.mainpage__img(src="images/dest/product.png")
  .screens__search.screens__item
    .container
      .row
        h2.mainpage__title.screens__title Поиск
        p.text.screens__text После заполнения формы регистрации пользователь попадает в главное меню. В нем представлены все организации города. Их можно отфильтровать по виду деятельности, доступным датам для посещения и другим параметрам.
        picture.screens__img
          source(srcset="images/dest/search-desk.png" media="(min-width: 1140px)")
          source(srcset="images/dest/search-tablet.png" media="(min-width: 660px)")
          img.mainpage__img(src="images/dest/search.png")
  .screens__stock.screens__item
    .container
      .row
        h2.mainpage__title.screens__title Акции
        p.text.screens__text После заполнения формы регистрации пользователь попадает в главное меню. В нем представлены все организации города. Их можно отфильтровать по виду деятельности, доступным датам для посещения и другим параметрам.
        picture.screens__img
          source(srcset="images/dest/stock-desk.png" media="(min-width: 1140px)")
          source(srcset="images/dest/stock-tablet.png" media="(min-width: 660px)")
          img.mainpage__img(src="images/dest/stock.png")
  .screens__history.screens__item
    .container
      .row
        h2.mainpage__title.screens__title История заказов
        p.text.screens__text После заполнения формы регистрации пользователь попадает в главное меню. В нем представлены все организации города. Их можно отфильтровать по виду деятельности, доступным датам для посещения и другим параметрам.
        picture.screens__img
          source(srcset="images/dest/history-desk.png" media="(min-width: 1140px)")
          source(srcset="images/dest/history-tablet.png" media="(min-width: 660px)")
          img.mainpage__img(src="images/dest/history.png")
  .screens__basket.screens__item
    .container
      .row
        h2.mainpage__title.screens__title Корзина
        p.text.screens__text После заполнения формы регистрации пользователь попадает в главное меню. В нем представлены все организации города. Их можно отфильтровать по виду деятельности, доступным датам для посещения и другим параметрам.
        picture.screens__img
          source(srcset="images/dest/basket-desk.png" media="(min-width: 1140px)")
          source(srcset="images/dest/basket-tablet.png" media="(min-width: 660px)")
          img.mainpage__img(src="images/dest/basket.png")
