section.slider
  .container
    .row
      h2.slider__title Просмотреть экраны
      h2.slider__title-mob Все экраны
      .slider__arrows
        img.prev(src='../images/dest/icons/slider-prev.svg')
        img.next(src='../images/dest/icons/slider-next.svg')
  .container
    .row
      .slider__wrap
        .slider__row#myDIV
          //- .slider__slides#slider
          .slider__item
            img(src="images/dest/pesok-screen.png" alt="#")
          .slider__item
            img(src="images/dest/pesok-screen.png" alt="#")
          .slider__item
            img(src="images/dest/pesok-screen.png" alt="#")
          .slider__item
            img(src="images/dest/pesok-screen.png" alt="#")
          .slider__item
            img(src="images/dest/pesok-screen.png" alt="#")
          .slider__item
            img(src="images/dest/pesok-screen.png" alt="#")
