section.team
  .container
    .row
      h2.team__title Команда разработчиков
      .team__items
        .team__item
          .team__ava
            img(src="images/dest/team-1.png")
            .team__ava-bg
          p Беляков 
            br
            |Павел
          span Project manager
        .team__item
          .team__ava
            img(src="images/dest/team-2.png")
            .team__ava-bg
          p Элеонора 
            br
            |Подкопаева
          span Аудитор
        .team__item
          .team__ava
            img(src="images/dest/icons/team.svg")
            .team__ava-bg
          p Станислав 
            br
            |Апанащенко
          span PHP
        .team__item
          .team__ava
            img(src="images/dest/icons/team.svg")
            .team__ava-bg
          p Алексей 
            br
            |Зобнин
          span Flutter
        .team__item
          .team__ava
            img(src="images/dest/team-5.png")
            .team__ava-bg
          p Владислав 
            br
            |Пономорев
          span Flutter
        .team__item
          .team__ava
            img(src="images/dest/team-6.png")
            .team__ava-bg
          p Игорь 
            br
            |Вахтомин
          span QA
        .team__item
          .team__ava
            img(src="images/dest/team-7.png")
            .team__ava-bg
          p Андрей
            br
            |Палий
          span UI/UX Designer
          
