section.tech
  .container
    .row
      h2.tech__title Программы и технологии
      .tech__items
        +icon('tech-figma', 'tech__item')
        //- +icon('tech-apptask', 'tech__item')
        img(class="icon icon-tech-apptask tech__item" src="images/dest/icons/tech-apptask.svg")
        +icon('tech-gitlab', 'tech__item')
        //- +icon('tech-sber', 'tech__item')
        img(class="icon icon-tech-sber tech__item" src="images/dest/icons/tech-sber.svg")
        +icon('tech-laravel', 'tech__item')
        +icon('tech-flutter', 'tech__item')
        +icon('tech-sdek', 'tech__item')
