section.typo
  .container
    img.typo__abs(src="/images/dest/typo-desk-bg.svg" alt="#")
    .row
      h2.typo__title Typography & Colors
      p.typo__title-promo Open sans
      p.typo__subtitle Regular
      p.typo__subtitle Semibold
    .row
      .typo__fonts
        .typo__font
          p.typo__font-style Моя Италия
          p.typo__font-name Header
        .typo__font
          p.typo__font-style Моя Италия
          p.typo__font-name Subhead
        .typo__font
          p.typo__font-style Моя Италия
          p.typo__font-name Large
        .typo__font
          p.typo__font-style Моя Италия
          p.typo__font-name Base
        .typo__font
          p.typo__font-style Моя Италия
          p.typo__font-name Small
      .typo__colors
        .typo__color
          p #FE7968
        .typo__color
          p #FFE7E3
        .typo__color
          p #FFF4F2
        .typo__color
          p #111111
        .typo__color
          p #3C3938
        .typo__color
          p #939090
