extends includes/layout

block content
  main.main
    include blocks/banner
    include blocks/goals
    include blocks/about
    //- include blocks/benefits
    //- include blocks/typo
    //- include blocks/screens
    include blocks/slider
    //- include blocks/team
    //- include blocks/tech
    include blocks/interview
    include blocks/review
    include blocks/contacts
    

    
    script(src="js/app.min.js")
